body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #edf2f8;
  font-size: 13px;
  display: grid;
  justify-content: space-around;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  grid-template-rows: auto 40px;
  max-height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 1100px;
  margin: auto;
}

.perfil {
  display: flex;
  align-items: center;
  z-index: 1;
}

.verificado {
  opacity: 0.5;
}

.review {
  opacity: 0.7;
}

.textogrande {
  font-size: 20px;
  margin: 20px 0;
  font-weight: 600;
  z-index: 1;
}

.balaodaniel {
  background-color: hsl(263, 55%, 52%);
  color: #ffffff;
  position: relative;
}

.danieljonathan {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.jeanettepatrick {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.djjp {
  grid-template-columns: 3fr;
}

.foto {
  width: 30px;
  border-radius: 100%;
  margin: 0 10px;
}

.bordafoto {
  border: solid 2px #906bc4;
}

.baloes {
  border-radius: 5px;
  padding: 24px 38px 38px 38px;
  display: grid;
  align-content: space-between;
  box-shadow: 5px 5px 15px 5px #d5e0ed;
  margin: 15px;
}

.baloes:hover {
  color: #1da7db;
  transition: 0.4s;
  box-shadow: 5px 5px 25px 5px #94cde3;
}

.aspas {
  position: absolute;
  right: 15%;
}

.balaojonathan {
  background-color: hsl(217, 19%, 35%);
  color: #ffffff;
}

.balaojeanette {
  background-color: hsl(0, 0%, 100%);
  color: #575e68;
}

.balaopatrick {
  background-color: hsl(219, 29%, 14%);
  color: #ffffff;
}

.balaokira {
  background-color: hsl(0, 0%, 100%);
  color: #575e68;
}
.attribution {
  font-size: 11px;
  text-align: center;
  align-self: self-end;
  margin: 10px 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.focobalao {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px 10px;
  z-index: 9999;
  font-size: 1.5em;
  align-content: center;
}

@media (max-width: 1100px) {
  body {
    margin: 0 20px;
  }
  .grid {
    width: auto;
  }
  .grid {
    display: block;
  }

  .balaokira {
    background-color: hsl(0, 0%, 100%);
    color: #575e68;
  }

  .aspas {
    position: absolute;
    right: 10%;
  }
}

@media (max-width: 900px) {
  body {
    margin: 20px;
  }
}

@media (max-width: 475px) {
  .balaokira {
    background-color: hsl(0, 0%, 100%);
    color: #575e68;
  }

  body {
    margin: auto;
  }

  .danieljonathan {
    display: block;
  }
  .jeanettepatrick {
    display: block;
  }

  .aspas {
    position: absolute;
    right: 10%;
  }
}
